/*
Custom CSS by PABLO PARAMO
*/
.bg-light {
    background-color: rgba(255, 155, 0, 1)!important;
}

#about {
	padding-top: 60px;
	min-height: 600px;
	background-color: #ff9b0017;
}

#features {
	padding-top: 60px;
	min-height: 600px;
}

#pricing {
	padding-top: 60px;
	min-height: 600px;
	background-color: #ff9b0017;
	
}

#developers {
	padding-top: 60px;
	min-height: 600px;
}

#main-content 
{

	margin: 0 auto;
}

p, h1 {
	padding: 10px;
}

footer {
	background-color: rgba(255, 155, 0, 1)!important;
}

footer
{
color: #f3f3f3;
}

.parallax {
    /* The image used */
    background-image: url("../images/bg.jpg");

    /* Set a specific height */
    min-height: 800px; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.row {
	text-align: left;
	padding-left: 10px;
}


