/*
Custom CSS by PABLO PARAMO
*/
body {
	opacity: 1;
	animation: opacity 3s;
}

@keyframes opacity {
    0% {
      opacity: 0;
      
    }
	100% {
      opacity: 1;
      
    }

}


.bg-light {
    background-color: rgba(255, 155, 0, 1)!important;
	font-weight: bold;
	font-size: 20px;
}

#about {
	padding-top: 60px;
	min-height: 600px;
	background-color: #ff9b0017!important;
	text-align: center;
}

#features {
	padding-top: 60px;
	min-height: 600px;
	text-align: center;
}

#pricing {
	padding-top: 60px;
	min-height: 600px;
	background-color: #ff9b0017;
	text-align: center;
	
}

#developers {
	padding-top: 60px;
	min-height: 600px;
	text-align: center;
}

#main-content 
{

	margin: 0 auto;
}

p, h1 {
	padding: 10px;
}
h1 {
    color: rgb(70, 130, 180);
}
p {
	font-size: 22px;
}

footer {
	background-color: rgba(255, 155, 0, 1)!important;
}


.highlight {
  display: block;
  position: relative;
  background-position: center;
  height: 800px;
  overflow: hidden;
  position: relative;
}

.content {
  min-height: 800px;
  height: 800px;
}

.parallax{
  background-image: url("../images/bg.jpg");
  width: 100%;
  height: 100%;
  transform: scale(1.2);
  animation: zoomin 20s;
  /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
}

@keyframes zoomin {
    0% {
      opacity: 0;
      background-size: cover;
      transform: scale(1);
    }
    5% {
      opacity: 1;
    }
    98% {
        opacity: 1;
    }
    100% {
        opacity: 1;
        transform: scale(1.2);
    }
}

.footer-above {
	color: #f3f3f3;
	text-align: center;
	padding-left: 10px;
	padding-top: 50px;
}
.footer-below{
	min-height: 100px;
	background: #4682b4;
	padding-top: 50px;
	color: #f3f3f3;
	font-weight: bold;
}
	
.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
    color: rgb(70, 130, 180);
}



